@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,800&family=Ubuntu:ital,wght@1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav{
  margin: 0px auto;
  padding: 6px 0px;
  background-color: #ebcccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item{
    font-size: 17px;
    
}
.nav-link{
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

                                     /* Home Section */
.container{
    width: 100%;
    width: 100%;
    min-height: 500px;
}

.details {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: 50%;
  text-align: left;
  padding-right: 20%;
  margin-top: -500px;
  margin-left: 500px;
}
  
.text-center1{
  font-family: cursive;
  font-size: 35px;
  color: antiquewhite;
  padding-right: 20%;
  margin-left: -170px;
}
.text-end{
    color: #fff;
    margin-left: 130px;
    font-weight: 40px;
}
.name{
  padding: 20px;
  padding-right: 19%;
}
.text-end span {
  color: #f1a6b9;
  font-family: cursive;
}
#text-center{
    color: darkmagenta;
    text-align: center;
}

                              /* END OF HOME SECTION*/

                             /* ABOUT ME SECTION */
.card-body{
    background-color: #d893a9;
 }
.card-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-text{
    font-family: sans-serif;
}
.quote{
    font-family: sans-serif;
}
    
                            /* END OF ABOUT ME SECTION */

                            /* SKILLS SECTION */

.Skills{
    background-color: #ebcccc;
    background-size: cover;
}
                             
                            /* END OF SKILLS SECTION */

                            /* PROJECTS SECTION */
.fs-2{
    text-align: center;
    color: rgb(250, 246, 246);
    font-family: 'Times New Roman', Times, serif;
}
.card-body1{
    background-color: rgb(12, 12, 12);
}
.card-text1{
    color: cornsilk;
}
.card-title1{
    color: #fff;
}


                            /* END OF PROJECTS SECTION */

                            /*CONTACT SECTION */

.container2{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

                            /*END OF CONTACT SECTION*/